h1 {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

main {
    font-family: "Georgia", serif;
    font-size: 18px;
    color: #666;
    padding: 20px;
    background-color: #f9f9f9;
}

.phone {
    background-color: #012e03;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    transition: background-color 0.3s;
}

.phone:hover {
    background-color: #45a049;
}

#model {
    font-weight: bold;
    font-style: italic;
    color: #97ffc1;
}